<a id="tothetop"></a>
<div class="accommodations"></div>

<div class="hotel-info">
  <div class="row">
    <div class="large-6 columns border">
      <h3>Family & Family Friends <br>of Shreya & Parag</h3>
      <br>
      <p><b>Comfort Inn - Romeoville</b><p>
      <p>1235 Lakeview Dr.</p>
      <p>Romeoville, IL 60446</p>
      <a href="https://www.google.com/maps/dir//Comfort+Inn,+1235+Lakeview+Dr,+Romeoville,+IL+60446/@41.657172,-88.144549,14z/data=!4m13!1m4!3m3!1s0x880e5ed1a8c019f9:0x884c8a484ee817dd!2sComfort+Inn!3b1!4m7!1m0!1m5!1m1!1s0x880e5ed1a8c019f9:0x884c8a484ee817dd!2m2!1d-88.1213405!2d41.6583048" target="_blank" class="button tiny">Directions</a>
      <br>
      <br>
      <p>Please call<a href="tel:630-226-1900">&nbsp;630.226.1900</a> and mention</p>
      <p><b>Parag & Shreya Wedding</b></p>
      <p>to reserve a room at a special discounted rate.</p>
      <p><i>Must reserve by July 21st, 2016.</i></p>
    </div>

    <div class="large-6 columns friends">
      <h3>Friends of Shreya & Parag</h3>
      <br>
      <br>
      <p><b>Country Inn & Suites - Romeoville</b><p>
      <p>1265 Lakeview Dr.</p>
      <p>Romeoville, IL 60446</p>
      <a href="https://www.google.com/maps/dir//Country+Inn+%26+Suites+By+Carlson,+Romeoville,+IL,+1265+Lakeview+Dr,+Romeoville,+IL+60446/@4s1.6578003,-88.1246182,17z/data=!4m13!1m4!3m3!1s0x880e5ed0fb2e86b5:0x49d9792276c2ccb0!2sCountry+Inn+%26+Suites+By+Carlson,+Romeoville,+IL!3b1!4m7!1m0!1m5!1m1!1s0x880e5ed0fb2e86b5:0x49d9792276c2ccb0!2m2!1d-88.1224295!2d41.6578003" target="_blank" class="button tiny">Directions</a>
      <br>
      <br>
      <p>Please call<a href="tel:630-378-1052">&nbsp;630.378.1052</a> and mention</p>
        <p><b>Parag & Shreya Wedding</b></p>
      <p>to reserve a room at a special discounted rate.</p>
      <p><i>Must reserve by July 21st, 2016.</i></p>
    </div>
  </div>
  <div class="quick-links">
    <div class="row">
      <h3>Quick Links</h3>
      <p>Both hotels are located right next to each other.</p>
      <ul>
        <li><a href="https://www.google.com/maps/dir/Country+Inn+%26+Suites+By+Carlson,+Romeoville,+IL,+1265+Lakeview+Dr,+Romeoville,+IL+60446/Ashton+Place,+75th+Street,+Willowbrook,+IL/@41.7030029,-88.1107325,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x880e5ed0fb2e86b5:0x49d9792276c2ccb0!2m2!1d-88.1224295!2d41.6578003!1m5!1m1!1s0x880e4f6612d8722b:0x830f3627439b84d5!2m2!1d-87.9561753!2d41.7511349" target="_blank" class="button tiny">Hotel to Garba Venue</a>
        </li>
        <li><a href="https://www.google.com/maps/dir/Country+Inn+%26+Suites+By+Carlson,+Romeoville,+IL,+1265+Lakeview+Dr,+Romeoville,+IL+60446/Nest+Bar+%26+Grill,+Rodeo+Drive,+Bolingbrook,+IL/@41.6629369,-88.1444051,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x880e5ed0fb2e86b5:0x49d9792276c2ccb0!2m2!1d-88.1224295!2d41.6578003!1m5!1m1!1s0x880e58caa1770c17:0xadd048875d0251c7!2m2!1d-88.1488365!2d41.666424" target="_blank" class="button tiny">Hotel to Wedding/Reception Venue</a>
        </li>
        <li><a href="https://www.google.com/maps/dir/O'Hare,+Chicago,+IL/Country+Inn+%26+Suites+By+Carlson,+Romeoville,+IL,+1265+Lakeview+Dr,+Romeoville,+IL+60446/@41.8213369,-88.1192594,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x880fca0c24ab66f1:0x80202866a0816f8a!2m2!1d-87.8367209!2d41.9772281!1m5!1m1!1s0x880e5ed0fb2e86b5:0x49d9792276c2ccb0!2m2!1d-88.1224295!2d41.6578003" target="_blank" class="button tiny">O'hare Airport to Hotel</a>
        </li>
        <li><a href="https://www.google.com/maps/dir/Chicago+Midway+International+Airport,+5700+South+Cicero+Avenue,+Chicago,+IL+60638/Country+Inn+%26+Suites+By+Carlson,+Romeoville,+IL,+1265+Lakeview+Dr,+Romeoville,+IL+60446/@41.7373962,-88.0735008,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x880e310601aa4385:0x968a60d78f2950a5!2m2!1d-87.7521884!2d41.7867759!1m5!1m1!1s0x880e5ed0fb2e86b5:0x49d9792276c2ccb0!2m2!1d-88.1224295!2d41.6578003" target="_blank" class="button tiny">Midway Airport to Hotel</a>
        </li>
        <li><a href="https://www.google.com/maps/dir/Chicago,+IL/Country+Inn+%26+Suites+By+Carlson,+Romeoville,+IL,+1265+Lakeview+Dr,+Romeoville,+IL+60446/@41.7675289,-88.0177401,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x880e2c3cd0f4cbed:0xafe0a6ad09c0c000!2m2!1d-87.6297982!2d41.8781136!1m5!1m1!1s0x880e5ed0fb2e86b5:0x49d9792276c2ccb0!2m2!1d-88.1224295!2d41.6578003" target="_blank" class="button tiny">Downtown Chicago to Hotel</a>
        </li>
      </ul>
    </div>
  </div>
</div>