<a id="tothetop"></a>
<div class="rsvp"></div>

<div class="coming-soon">
  <div class="row">
    <h1>Coming soon</h1>
    <ul class="rsvp-icon">
      <li><i class="fi-checkbox"></i></li>
    </ul>
  </div>
</div>