<a id="tothetop"></a>
<div class="social"></div>

<div class="coming-soon media">
  <div class="row">
    <h1>Coming soon</h1>
    <ul class="social-media">
      <li><i class="fi-social-instagram"></i></li>
      <li><i class="fi-social-twitter"></i></li>
      <li><i class="fi-social-facebook"></i></li>
      <h3><a href="https://www.instagram.com/explore/tags/paragandshreya/" target="blank">#ParagAndShreya</a></h3>
    </ul>
  </div>
</div>