<a id="tothetop"></a>
<div class="contact"></div>

<div class="contactinfo">
  <div class="row">
    <div class="contacttext">
      <h3>Parag & Shreya</h3>
        <p><A HREF="mailto:paragandshreya@gmail.com"><i class="fi-mail"></i> paragandshreya@gmail.com</A></p>
      <h3>Patel Residence</h3>
        <p><a href="tel:847-965-5721"><i class="fi-telephone"></i> 847.965.5721</a></p>
      <h3>Dadhaniya Residence</h3>
        <p><a href="tel:309-797-3075"><i class="fi-telephone"></i> 309.797.3075</a></p>
    </div>
  </div>
</div>