// Place all the styles related to the accomodations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation-icons';

.accomodations {
  background: asset_url("mainpages/accomodations.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px 8px;
  height: 100%;
}
