/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require foundation

 */

.nav-bar {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	background: white;
	font-family: 'PT Sans', sans-serif;
}

.nav-bar ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-bar li {
	float: left;
}

.countdown {
	font-size: 18px;
}

.fi-heart {
  color: #DC143C; /*maroon*/
}

.nav-bar li a {
  display: block;
  color: black;
  background-color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.nav-bar li a:hover {
  color: #0078a0; /* teal blue */
}

.nav-options {
	float:right;
}

.down {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: right;
  top: 400px;
}

.fi-arrow-down {
  position: absolute;
  right: -300px;
  font-size: 40px;
  color: white;
}

.top {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

.fi-arrow-up {
  font-size: 30px;
}

.footer {
	background-color: #f5f5f5; /*light grey*/
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: black;
}

.footer .row {
	padding: 15px;
  font-family: 'PT Sans', sans-serif;
}