/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require foundation

 */

.fi-arrow-down {
  font-size: 40px;
  color: white;
  margin-left: 10px;
  text-shadow: 5px 0 5px #000;
}

.fi-arrow-up {
  font-size: 30px;
}

.footer {
  background-color: #f5f5f5; /*light grey*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
}

.footer .row {
  padding: 15px;
  font-family: 'PT Sans', sans-serif;
}

.row.down {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
}

.top {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}

ul {
  list-style: none;
}

html {
  overflow-x: hidden;
}