// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#events {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.epage {
	background: asset_url("mainpages/eventspage.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.transbox {
	// height: 350px;
	// margin: 30px;
 //  background-color: #ffffff;
 //  opacity: 0.5;
 //  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.eventtext {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

.eventtext h3 {
	font-family: 'Dancing Script', cursive;
  color: white;
	font-size: 70px;
}

.eventtext h5 {
  color: white;
  font-size: 25px;
}

.eventtext p {
  color: white;
  font-size: 25px;
	margin-bottom: 0px;
}

.eventtext a {
  font-size: 20px;
}

.mehndi {
	background: asset_url("eventpage/mehndi1.jpg") no-repeat center center fixed;
}

.svidhi {
	background: asset_url("eventpage/mp2.jpg") no-repeat center center fixed;
}

.pvidhi {
	background: asset_url("eventpage/mp1.jpg") no-repeat center center fixed;
}

.garba {
	background: asset_url("eventpage/dandiya.jpg") no-repeat center center fixed;
}

.wedding {
	background: asset_url("eventpage/golfcourse.png") no-repeat center center fixed;
}

.reception{
	background: asset_url("eventpage/ballroom.png") no-repeat center center fixed;
}

.mehndi, .svidhi, .pvidhi, .garba, .wedding, .reception {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
  height: 600px;
}