// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  border-radius: 10px !important;
  box-shadow: 5px 5px 5px grey !important;
}

.epage {
  background: asset_url("mainpages/eventspage-compressor.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
}

.event-text {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 146.5px;
  margin-bottom: 146.5px;
  text-align: center;
}

.event-text h3 {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 70px;
}

.event-text h5 {
  color: white;
  font-size: 25px;
  font-family: 'PT Sans', sans-serif;
}

.event-text p {
  color: white;
  font-size: 25px;
  margin-bottom: 0px;
  font-family: 'PT Sans', sans-serif;
}

.event-text a {
  font-size: 20px;
}

.fi-calendar {
  font-size: 30px;
}

.garba {
  background: asset_url("eventpage/raas-compressor.jpg") no-repeat center center fixed;
}

.mehndi {
  background: asset_url("eventpage/mehndi1.jpg") no-repeat center center fixed;
}

.pvidhi {
  background: asset_url("eventpage/haldi-compressor.jpg") no-repeat center center fixed;
}

.reception{
  background: asset_url("eventpage/ballroom-compressor.png") no-repeat center center fixed;
}

.svidhi {
  background: asset_url("eventpage/haldi2-compressor.jpg") no-repeat center center fixed;
}

.wedding {
  background: asset_url("eventpage/golfcourse-compressor.png") no-repeat center center fixed;
}

.mehndi .layer, .svidhi .layer,
.pvidhi .layer, .garba .layer,
.wedding .layer, .reception .layer {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 600px;;
}

.garba, .mehndi, .pvidhi, .reception, .svidhi, .wedding {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
  height: 600px;
}

// Small screens

@media screen and (max-width: 39.9375em) {
  .mehndi, .svidhi, .pvidhi, .garba, .wedding, .reception {
    height: 500px;
  }

  .mehndi .layer, .svidhi .layer,
  .pvidhi .layer, .garba .layer,
  .wedding .layer, .reception .layer {
    height: 500px;;
  }

  .epage {
    height: 600px;
  }

  .event-text {
    position: absolute;
    width: 100%;
    left: 0;
  }

  .event-text h3 {
    font-size: 40px;
  }

  .event-text h5 {
    font-size: 18px;
  }

  .pvidhi .event-text h3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .pvidhi .event-text, .svidhi .event-text {
    margin-top: 110px;
    margin-bottom: 110px;
  }

  .event-text p {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .event-text a {
    font-size: 18px;
  }

  body {
    overflow-x: hidden !important;
  }
}