// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gallery {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

img {
  margin: 0 auto;
}

.gallery .reg img {
  width: 800px;
}

.gallery .tall img {
  width: 400px;
}

.orbit-container .orbit-prev > span {
  border-right-color: black !important;
}

.orbit-container .orbit-next > span {
  border-left-color: black !important;
}

.orbit-container .orbit-slide-number {
  display: none;
}

@media screen and (max-width: 39.9375em) {
  .gallery {
    width: 400px
  }

  .gallery .reg img {
    width: 400px;
  }

  .gallery .tall img {
    width: 200px;
  }

  body {
    overflow-x: hidden !important;
  }
}