// Place all the styles related to the rsvp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rsvp {
  background: asset_url("mainpages/rsvp.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
}

.rsvp-email {
  margin-top: 20px;
}

ul.rsvp-icon {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.rsvp-icon li {
  display: inline !important;
  font-size: 60px;
}

// Sign in section

.sign-in, .rsvp-form {
  font-family: 'PT Sans', sans-serif;
  padding-top: 120px;
  padding-bottom: 100px;
}

.sign-in .button, .rsvp-form .button {
  border-radius: 10px !important;
  box-shadow: 5px 5px 5px grey !important;
}

.sign-in form {
  width: 400px;
  margin: 0px auto;
}

.sign-in h1, .rsvp-form h1, .song-requests h2 {
  font-family: 'Dancing Script', cursive;
  color: #0078a0; /*teal blue*/
  text-align: center;
}

.sign-in input[type="text"] {
  width: 400px;
}

.sign-in p, .rsvp-form p {
  text-align: center;
  margin-bottom: 30px;
}

// RSVP section

.rsvp-form .event-headers {
  padding-bottom: 30px;
}

.rsvp-form {
  margin: 0px auto;
}

.rsvp-form input[name="email_address"] {
  width: 400px;
}

.rsvp-form textarea {
  width: 700px;
}

.rsvp-form .event-headers label {
  font-size: 16px;

}

.rsvp-form select {
  width: 60px;
}

@media screen and (max-width: 39.9375em) {
  .coming-soon {
    height: 400px;
    padding-top: 165px;
    padding-bottom: 165px;
  }

  .coming-soon h1 {
    font-size: 50px;
  }

  .rsvp {
    height: 600px;
  }

  .rsvp-icon li {
    font-size: 40px;
  }

  body {
    overflow-x: hidden !important;
  }
}