// Place all the styles related to the social controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social {
  background: asset_url("mainpages/social.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

ul.social-media {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.social-media li {
  display: inline !important;
  padding: 10px;
  font-size: 60px;
}

.media {
  padding-top: 138px;
  padding-bottom: 138px;
}

.media h3 {
  font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 39.9375em) {
  .social {
    background-position: -270px;
  }

  .social-media li {
    font-size: 40px;
  }

  body {
    overflow-x: hidden !important;
  }
}