// Place all the styles related to the social controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ig-pic {
  margin: 10px;
  width: 170px;
}

.ig-feed {
  text-align: center;
}

.ig-feed h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #0078a0; /*teal blue*/
  margin-bottom: 50px;
}

.media p {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.social {
  background: asset_url("mainpages/social.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
}

ul.social-media {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.social-media li {
  display: inline !important;
  padding: 20px;
  font-size: 70px;
}

.media {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 500px;
  padding-top: 138px;
  padding-bottom: 138px;
}

.media h3 {
  font-family: 'PT Sans', sans-serif;
  color: #0078a0; /*teal blue*/
}

@media screen and (max-width: 39.9375em) {
  .media p {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .social {
    background-position: -270px;
    height: 600px;
  }

  .social-media li {
    font-size: 40px;
  }

  body {
    overflow-x: hidden !important;
  }
}