// Place all the styles related to the social controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social {
  background: asset_url("mainpages/social.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

@media screen and (max-width: 39.9375em) {

  body {
    overflow-x: hidden !important;
  }
}