// Place all the styles related to the weddingparty controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bride, .groom {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bride h3, .groom h3, .couple {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  margin-bottom: 15px;
  color: #0078a0; //teal blue
  text-align: center;
}

.bride h5, .groom h5, {
  font-family: 'PT Sans', sans-serif;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bio {
  font-family: 'PT Sans', sans-serif;
  color: black;
}

.bio .q, .bio p {
  font-family: 'PT Sans', sans-serif;
  color: #e21b71; //magenta
  margin-left: 65px;
  margin-right: 65px;
  }

.bride p, .groom p {
  font-family: 'PT Sans', sans-serif;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.couple {
  margin-top: 100px;
}

.pic img {
  width: 200px;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
}

.bio ul{
  text-align: center;
  list-style-position: inside;
  margin: auto;
}

.wedding-party {
  background: asset_url("mainpages/weddingparty.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px 10px;
  height: 900px;
}

.wprow .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// Small screens

@media screen and (max-width: 39.9375em) {
  body {
    overflow-x: hidden !important;
  }

  .bride h3, .groom h3 {
    font-size: 40px;
  }

  .bride p, .groom p {
    font-size: 14px;
  }

  .pic img {
    width: 150px;
  }

  ul.bio {
    list-style: none;
  }

  .wedding-party {
    background-position: -335px 45px;
    height: 600px;
  }
}