// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#date {
  position: absolute;
  top: 40%;
  left: 340px;
  color: white;
  font-size: 25px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 5px 0 5px #000;
}

.engagement {
  background: asset_url("story/engagement.jpg") no-repeat center center fixed;
}

.firstdate {
  background: asset_url("story/bulls.jpg") no-repeat center center fixed;
}

.homepage {
  background: asset_url("mainpages/homepage-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
}

.met {
  background: asset_url("story/uiuc.png") no-repeat center center fixed;
}

nav {
  background-color: #fff !important;
}

nav .fi-heart {
  color:#DC143C !important;
}

.official {
  background: asset_url("story/secondcity.jpg") no-repeat center center fixed;
}

.our-story .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  padding-top: 76px;
  padding-bottom: 76px;
}

.our-story h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: #0078a0; // teal blue
  text-align: left;
}

.our-story p {
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 40px;
  text-align: right;
}

#paragshreya {
  position: absolute;
  top: 22%;
  left: 160px;
  color: white;
  text-align: center;
  font-size: 90px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 5px 0 5px #000;
}

.proposal {
  background: asset_url("story/proposal.JPG") no-repeat center center fixed;
}

nav a.current {
  font-weight: bold !important;
  text-decoration: underline;
}

.top-bar ul li a {
  background-color: #fff !important;
  color: black !important;
  font-family: 'PT Sans', sans-serif !important;
}

.top-bar ul li a:hover {
  color: #0078a0 !important; //teal blue
}

.top-bar-section .right li a {
  font-size: 15px;
}

.toggle-topbar a {
  background-color: #fff !important;
}

.wday {
  background: asset_url("story/wday.jpg") no-repeat center center fixed;
  background-position: 0px 300px;
}

.met, .firstdate, .official, .proposal, .engagement, .wday {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

// Small screens

@media screen and (max-width: 39.9375em) {
  body {
    overflow-x: hidden !important;
  }

  #date {
    position: absolute;
    top: 33%;
    left: 120px;
    font-size: 20px;
  }

  .engagement {
    background-position: -200px 70px;
  }

  .fi-arrow-down {
    font-size: 30px !important;
  }

  .homepage {
    background-position: -250px;
    height: 600px;
  }

  .met {
    background-position: -255px;
  }

  .official {
    background-position: -550px;
  }

  .our-story .row {
    padding-top: 104px;
    padding-bottom: 104px;
  }

  .our-story h3 {
    font-size: 40px;
    text-align: center;
  }

  .our-story p {
    font-size: 26px;
    text-align: center;
    margin-bottom: 0px;
  }

  #paragshreya {
    position: absolute;
    top: 20%;
    left: 40px;
    font-size: 50px;
  }

  .proposal {
    background-position: -140px -40px;
  }

  .wday {
    background-position: -310px 305px;
  }
}