// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage {
	background: asset_url("mainpages/homepage-2.jpg") no-repeat center center fixed;
 	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#paragshreya {
	position: absolute;
	top: 22%;
	left: 160px;
	color: white;
	text-align: center;
	font-size: 90px;
	font-family: 'Dancing Script', cursive;
}

#date {
	position: absolute;
	top: 40%;
	left: 340px;
	color: white;
	font-size: 25px;
	font-family: 'Dancing Script', cursive;
}

.ourstory .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  padding-top: 76px;
  padding-bottom: 76px;
}

.ourstory h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: #0078a0; // teal blue
  text-align: left;
}

.ourstory p {
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 40px;
  text-align: right;
}

.met {
  background: asset_url("story/uiuc.png") no-repeat center center fixed;
}

.firstdate {
  background: asset_url("story/bulls.jpg") no-repeat center center fixed;
}

.official {
  background: asset_url("story/secondcity.jpg") no-repeat center center fixed;
}

.proposal {
  background: asset_url("story/proposal.JPG") no-repeat center center fixed;
}

.engagement {
  background: asset_url("story/engagement.jpg") no-repeat center center fixed;
}

.wday {
  background: asset_url("story/wday.jpg") no-repeat center center fixed;
  background-position: 0px 300px;
}

.met, .firstdate, .official, .proposal, .engagement, .wday {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}